.atm-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.field-row {
    width: 100%;
    justify-content: space-between;

    input {

    }
}