.atm-notification {
    position: fixed;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    resize: none;

    .window-body {
        div {
            display: flex;
            justify-content: flex-end;
            padding-top: 10px;
        }
    }
}