.atm-my-accounts {
    height: 100%;
}

.my-accounts-features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    button {
        width: 33%;
        height: 45px;
    }
}

.account-list {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    width: 100%;
    max-height: 60%;
    background: #fff;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    padding: 12px 8px;
}