.atm-account-info {
    margin-top: 10px;
    height: 90%;
    button {
        margin-top: 5px;
        width: 60%;
        height: inherit;
        font-size: 14px;
        color: black;
        box-sizing: border-box;

        > div {
            display: flex;
            justify-content: space-between;
            margin: 5px auto;
        }
    }

    .transactional {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .saving {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .page-features {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        button {
            margin-top: 0;
            height: 100%;
            width: auto;
        }
    }
}

.atm-account-settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;

    .main-section {
        justify-content: space-between;
        height: 50%;
    }

    .edit-plan-btns {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        button {
            height: 50px;
        }
    }
}

.atm-change-saving-plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    padding-top: 5px;

    .choose-plan-section {
        overflow: auto;
        width: 100%;
        min-height: 85%;
        background: #fff;
        box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
        padding: 12px 8px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .page-features {
        padding-top: 5px;
    }
}