<app-atm-header [lastState]="ATM_STATES.CARD_INFO"></app-atm-header>
<div class="change-pin-form">
  <div class="field-row" [formGroup]="pinCodeForm">
    <label for="pinCode"><u>N</u>ew pin code:</label>
    <input fxFlex="60" id="pinCode" formControlName="pinCode" type="password"/>
    <div class="error-border" fxLayoutAlign="flex-end center" fxFlex="100" *ngIf="pinCodeForm.get('pinCode')?.invalid && pinCodeForm.get('pinCode')?.touched">
      <span *ngIf="pinCodeForm.get('pinCode').errors?.['minLength'] || pinCodeForm.get('pinCode').errors?.['maxLength']">
        Pin code should be 4 characters lenght.
      </span>
      <span *ngIf="pinCodeForm.get('pinCode').errors?.['required']">
        Required.
      </span>
      <span *ngIf="pinCodeForm.get('pinCode').errors?.['pattern']">
        Invalid pin code. Should be 4 digits.
      </span>
      <span *ngIf="pinCodeForm.get('pinCode').errors?.['httpError']">
        {{httpErrors.pinCode}}
      </span>
    </div>
  </div>
  <div class="submit-row">
    <button (click)="submitForm()">Change pin code</button>
  </div>
</div>