.change-pin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;


    .field-row {
        padding: 20px 0;
        width: 100%;
        label {
            font-size: 24px;
        }
        input {
            font-size: 24px;
            height: 44px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .submit-row {
        width: 100%;
        padding: 20px 0;
        display: flex;
        justify-content: center;

        button {
            width: 40%;
            height: 50px;
            font-size: 24px;
        }
    }
}