.transaction-info, .transaction-scheduled-info {
    width: 100%;
    display: flex;
    justify-content: center;

    > button {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: black;
        text-shadow: none;

        .main-info, .primary-info, .additional-info {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.transaction-scheduled-info > button {
    height: 80px;
}