<div class="transaction-info" *ngIf="transaction">
  <button disabled>
    <div class="main-info">
      <span>#{{transaction.id}} | Status: {{transaction.transactionStatus}}</span>
      <span>Type: <span [ngStyle]="{'color': transactionColor}">{{transaction.transactionType}}</span></span>
      <span>Created: {{transaction.startTime | date : 'M/d/yy, HH:mm'}}</span>
    </div>
    <div class="additional-info">
      <span>From: {{transaction.fromAccount.id}}</span>
      <span>Amount: {{transaction.amount?.amount}} {{transaction.amount?.currency}}</span>
      <span *ngIf="transaction.fee">Fee: {{transaction.fee}} {{transaction.amount?.currency}}</span>
      <span>To: {{transaction.toAccount.id}}</span>
    </div>
  </button>
</div>

<div class="transaction-scheduled-info" *ngIf="transactionSch">
  <button disabled>
    <div class="main-info">
      <span>#{{transactionSch.id}} | Status: {{transactionSch.transactionStatus}}</span>
      <span>Created: {{transactionSch.startTime | date : 'M/d/yy, HH:mm'}}</span>
    </div>
    <div class="primary-info">
      <span *ngIf="transactionSch.initialRepeats">Initial repeats: {{transactionSch.initialRepeats}}</span>
      <span *ngIf="transactionSch.initialRepeats">Repeats left: {{transactionSch.repeatsLeft}}</span>
      <span *ngIf="!transactionSch.initialRepeats">Infinite repeat</span>
      <span *ngIf="transactionSch.period">Repeats every {{transactionSch.period.period}}</span>
    </div>
    <div class="additional-info">
      <span *ngIf="transactionSch.scheduledTime">Planned start: {{transactionSch.scheduledTime | date : 'M/d/yy, HH:mm'}}</span>
      <span>Amount: {{transactionSch.amount?.amount}} {{transactionSch.amount?.currency}}</span>
      <span>To: {{transactionSch.toAccount.id}}</span>
      <button *ngIf="transactionSch.transactionStatus === SCHEDULED_STATUSES.SCHEDULED" (click)="cancelRegularTransaction()">Cancel</button>
    </div>
  </button>
</div>
