.transaction-info {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: black;
        text-shadow: none;

        .main-info, .additional-info {
            display: flex;
            width: 100%;
            justify-content: space-between;

            span {
                flex: 1 1 33%;
            }
        }
    }
}