.window {
    position: relative;
    padding-top: 20px;
    resize: none;
}

.title-bar {
    position: absolute;
    top: 2px;
    width: 98.8%;
    box-sizing: border-box;
}

.window-body {
    height: 100%;
    margin: unset;
    padding: 8px;
    position: relative;
    box-sizing: border-box;

    > div {
        width: 100%;
    }
}