.window {
    position: relative;
    padding-top: 20px;
}

.title-bar {
    position: absolute;
    top: 2px;
    width: 99.3%;
    box-sizing: border-box;
}

.window-body {
    height: 100%;
    margin: unset;
    padding: 8px;
    position: relative;
    box-sizing: border-box;
}