<div class="window" style="width: 500px; height: 400px;">
  <div class="title-bar">
    <div class="title-bar-text">ATM</div>
    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="window-body" [ngSwitch]="atmState$ | async">
      <div *ngSwitchCase="ATM_STATES.LOGIN" fxLayout="row" fxLayoutAlign="space-between stretch" fxFlex style="height: 100%;">
        <app-atm-list (onAtmSelect)="onAtmSelect($event)" fxFlex="45" [atmList]="atmList$ | async"></app-atm-list>
        <app-atm-login [selectedAtm$]="selectedAtm$" (afterLogin)="afterLogin()" fxFlex></app-atm-login>
      </div>
      <div *ngSwitchCase="ATM_STATES.MAIN_MENU">
      </div>
  </div>
</div>