<app-atm-header [lastState]="(selectedAccount$ | async) ? ATM_STATES.ACCOUNT_INFO : ATM_STATES.MAIN_MENU"></app-atm-header>
<div class="atm-transactions-history">
  <ng-container *ngIf="scheduledTransactions">
    <app-transaction-list-item [transactionSch]="transactionSch" *ngFor="let transactionSch of scheduledTransactions"></app-transaction-list-item>
  </ng-container>
  <ng-container *ngIf="transactionsHitory">
    <app-transaction-list-item [transaction]="transaction" *ngFor="let transaction of transactionsHitory"></app-transaction-list-item>
  </ng-container>
</div>
<!-- <div class="atm-transactions-scheduled">
  
</div> -->
